In [39]:
import pandas as pd
from sklearn.datasets import load_iris
from apyori import apriori
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [40]:
# Load the Iris dataset
iris = load_iris()

# Create a DataFrame from the Iris dataset
df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [41]:
df.head

<bound method NDFrame.head of      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]>

In [42]:
# initializing the transactionEncoder
te = TransactionEncoder()
te_ary = te.fit(df).transform(df)
dataset = pd.DataFrame(te_ary, columns=te.columns_)
# dataset after encoded
dataset

,,(,),a,c,d,e,g,h,i,l,m,n,p,s,t,w
0,True,True,True,True,True,False,True,True,True,False,True,True,True,True,True,True,False
1,True,True,True,True,True,True,True,False,True,True,True,True,False,True,True,True,True
2,True,True,True,True,True,False,True,True,True,False,True,True,True,True,False,True,False
3,True,True,True,True,True,True,True,False,True,True,True,True,False,True,False,True,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
146,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
147,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
148,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
149,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [43]:
# Extracting the most frequest itemsets via Mlxtend.
# The length column has been added to increase ease of filtering.
frequent_itemsets = apriori(dataset, min_support=0.01, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
# printing the frequent itemset
frequent_itemsets

        support                                    itemsets  length
0      0.026667                                         ( )       1
1      0.026667                                         (()       1
2      0.026667                                         ())       1
3      0.026667                                         (a)       1
4      0.026667                                         (c)       1
...         ...                                         ...     ...
24570  0.013333     (), d, h, w, i, l, (, e, t, p, c,  , m)      13
24571  0.013333     (a, d, h, w, i, l, (, e, t, p, c,  , m)      13
24572  0.013333     (), d, a, h, w, i, l, e, t, p, c,  , m)      13
24573  0.013333     (), d, a, h, w, i, l, (, e, t, p, c, m)      13
24574  0.013333  (), a, d, h, w, i, l, (, e, t, p, c,  , m)      14

[24575 rows x 3 columns]

In [44]:
# printing the frequntly items 
frequent_itemsets[ (frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.05) ]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

In [45]:
#  We set our metric as "Lift" to define whether antecedents & consequents are dependent our not
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)
rules["antecedents_length"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_length"] = rules["consequents"].apply(lambda x: len(x))

In [ ]:
# Sort values based on confidence
rules.sort_values("confidence",ascending=False)